@media screen and (max-width: 576px) {

    .navbar,
    .nav-links {
        flex-direction: column;
    }

    .banner-title{
        font-size: 3rem;
    }

    .teams {
        flex-direction: column-reverse;
    }

    .team-img-container, .facts-container {
        grid-template-columns: 1fr;
    }

    .facts-container{
        justify-items: center;
        gap: 24px;
    }

    .our-feature, .fact-content{
        margin-left: 0;
        text-align: center;
    }

    .feature-btn {
        margin-bottom: 32px;
    }



}

/* medium device responsive*/
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column-reverse;
    }
    
    .our-feature{
        width: 100%;        
        max-width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .feature-btn {
        margin-bottom: 32px;
    }

     .facts-container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 24px;
  }

  .fact-content{
    justify-items: center;
  } 

}